<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons, .persons td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Persons:</h1>
<div>
    <table class="persons">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.title}">Title</td>
            <td>
                <a th:href="@{/books/edit(id=${book.id})}" href="edit.html">Edit</a>
            </td>
            <td>
                <form th:action="@{/books/delete(id=${book.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/books/create}" href="edit.html">Create</a>
</div>
</body>
</html>
